.git
.gitignore

.env
.env.*
!.env.example

node_modules
vendor

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

bootstrap/cache/*.php

.phpunit.result.cache

docker-compose.yml
docker-compose.yaml

storage/app/Laravel/*
