@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@300;400;700&display=swap');


body,
.content-wrapper,
.main-sidebar,
.nav-sidebar,
.card,
.btn,
.form-control,
.table,
.modal,
h1,h2,h3,h4,h5,h6,
p,span,div,label,a {
    font-family: 'Battambang', sans-serif !important;
}
body,
html {
    font-family: 'Battambang', 'Inter', sans-serif !important;
}
:root{
    --primary-color: #006D36;

}
.sidebar,
.main-sidebar,
.nav-sidebar,
.navbar,
.content-wrapper,
.card,
.card-title,
.card-body {
    font-family: 'Battambang', sans-serif !important;
}

.nav-sidebar .nav-link {
    transition: all 0.2s ease-in-out !important;
}

.nav-sidebar .nav-link:hover {
    background-color: #006D36 !important;
    color: #fff !important;
}

.nav-sidebar .nav-link:hover *,
.nav-sidebar .nav-link.active * {
    color: #fff !important;
}

.nav-sidebar .nav-link.active {
    background-color:var(--primary-color) !important;
    color: #fff !important;
}


/*  button at the bottom */
.mt-auto {
    margin-top: auto !important;
}
/* button and modal color */
.btn-primary {
    background-color: var(--primary-color) !important;
}

.modal-green .modal-header {
    background-color: var(--primary-color);
    color: #fff;
    border-bottom: none;
    border-radius: calc(0.3rem - 1px) calc(0.3rem - 1px) 0 0;
}

.modal-green .modal-title {
    font-weight: 600;
}

.modal-green .close span {
    color: #fff;
    opacity: 1;
}

.modal-green .modal-footer {
    border-top: 1px solid #eee;
}

body {
    background: #f8faf9;
}
/* sidebar menu */
.main-sidebar {
    overflow: hidden !important;
}

.sidebar {
    overflow: hidden !important;
}
.main-sidebar .sidebar {
    height: calc(100vh - 57px);
}
.content-wrapper {
    overflow-y: auto;
    height: calc(100vh - 57px);
}
/* បិទ AdminLTE hover overlay */

body.sidebar-mini.sidebar-collapse .main-sidebar:hover {
    width: 4.6rem !important;
}

body.sidebar-mini.sidebar-collapse .main-sidebar:hover .nav-sidebar .nav-link {
    width: 4.6rem !important;
}

body.sidebar-mini.sidebar-collapse .main-sidebar:hover .nav-link p {
    display: none !important;
}
body.sidebar-mini.sidebar-collapse .nav-sidebar .nav-icon {
    margin-left: 0 !important;
}


